@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-image: url("http://s17.postimg.org/fr01hfe33/image.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.wrapper {
  position: relative;
  left: 50%;
  width: 1000px;
  height: 800px;
  transform: translate(-50%, 0); }

.container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 75%;
  transform: translate(-50%, -50%); }
  .container .left {
    float: left;
    width: 33%;
    height: 100%;
    background-color: #261c46;
    overflow-x: hidden; }
    .container .left::-webkit-scrollbar {
      width: 0; }
    .container .left {
      -ms-overflow-style: none; }
    .container .left .user {
      list-style: none;
      padding-left: 0;
      position: relative;
      width: 100%;
      padding: 12px 8% 16px;
      cursor: pointer;
      background-color: #261c46;
      cursor: default; }
      .container .left .user img {
        float: left;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 50%; }
      .container .left .user .name {
        font-size: 14px;
        line-height: 22px;
        color: #c7c6c6;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        float: left; }
      .container .left .user .time {
        font-size: 14px;
        top: 16px;
        right: 10%;
        padding: 0 0 5px 5px;
        color: #8b8da9; }
      .container .left .user .preview {
        font-size: 14px;
        display: inline-block;
        overflow: hidden !important;
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #8b8da9; }
    .container .left .setting {
      width: 60%;
      margin: 0 auto; }
      .container .left .setting div {
        display: inline-block;
        width: 32%; }
        .container .left .setting div a {
          font-size: 26px;
          color: #8b8da9; }
      .container .left .setting .search-icon a {
        position: relative;
        left: 28%; }
        .container .left .setting .search-icon a .fa-search {
          -moz-transform: rotate(45deg);
          /* ╨Ф╨╗╤П Firefox */
          -ms-transform: rotate(45deg);
          /* ╨Ф╨╗╤П IE */
          -webkit-transform: rotate(45deg);
          /* ╨Ф╨╗╤П Safari, Chrome, iOS */
          -o-transform: rotate(45deg);
          /* ╨Ф╨╗╤П Opera */
          transform: rotate(45deg); }
      .container .left .setting .setting-user a {
        position: relative;
        left: 60%; }
    .container .left .search {
      position: relative;
      width: 100%;
      padding: 29px 29px 0; }
    .container .left input {
      width: 100%;
      height: 20px;
      font-size: 16px;
      border: 0;
      outline: 0;
      color: #8b8da9;
      background: transparent;
      border-bottom: 1px solid #8b8da9;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400; }
      .container .left input:focus {
        outline: none; }
    .container .left .people {
      margin-left: -1px;
      border-right: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      width: calc(100% + 2px);
      list-style: none;
      padding-left: 0; }
      .container .left .people .person {
        position: relative;
        width: 100%;
        padding: 12px 10% 16px;
        cursor: pointer;
        background-color: #261c46; }
        .container .left .people .person img {
          float: left;
          width: 40px;
          height: 40px;
          margin-right: 12px;
          border-radius: 50%; }
        .container .left .people .person .name {
          font-size: 14px;
          line-height: 22px;
          color: #fff;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 600;
          float: left; }
        .container .left .people .person .time {
          font-size: 14px;
          top: 16px;
          right: 10%;
          padding: 0 0 5px 5px;
          color: #8b8da9;
          background-color: #261c46; }
        .container .left .people .person .preview {
          font-size: 14px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #8b8da9; }
        .container .left .people .person.active, .container .left .people .person:hover {
          margin-top: -1px;
          margin-left: -1px;
          padding-top: 13px;
          border: 0;
          background-color: #00b0ff;
          width: calc(100% + 2px);
          padding-left: calc(10% + 1px); }
          .container .left .people .person.active span, .container .left .people .person:hover span {
            color: #fff;
            background: transparent; }
          .container .left .people .person.active:after, .container .left .people .person:hover:after {
            display: none; }

.right {
  position: relative;
  float: left;
  width: 66%;
  height: 100%; }
  .right .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #fff; }
    .right .top span {
      font-size: 15px;
      color: #8b8da9; }
      .right .top span .name {
        color: #c7c6c6;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600; }
  .right .chat {
    position: relative;
    display: none;
    overflow: hidden;
    padding: 0 75px 11px 65px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #e6e6e6;
    height: calc(100% - 114px);
    justify-content: flex-end;
    flex-direction: column; }
    .right .chat.active-chat {
      display: block;
      display: flex;
      background: #ebeafd; }
    .right .chat .conversation-start {
      position: relative;
      width: 100%;
      margin-bottom: 27px;
      text-align: center; }
      .right .chat .conversation-start span {
        font-size: 14px;
        display: inline-block;
        color: #8b8da9; }
        .right .chat .conversation-start span:before, .right .chat .conversation-start span:after {
          position: absolute;
          top: 10px;
          display: inline-block;
          width: 30%;
          height: 1px;
          content: '';
          background-color: #8b8da9; }
        .right .chat .conversation-start span:before {
          left: 0; }
        .right .chat .conversation-start span:after {
          right: 0; }
    .right .chat .left-messages img {
      position: absolute;
      left: 11px;
      border-radius: 50%; }
    .right .chat .left-messages .name {
      font-size: 14px;
      line-height: 22px;
      color: #1d1e2c;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      float: left; }
    .right .chat .left-messages .time {
      font-size: 14px;
      top: 16px;
      right: 10%;
      padding: 0 0 5px 5px;
      color: #8b8da9; }
    .right .chat .right-messages img {
      position: absolute;
      right: 11px;
      border-radius: 50%; }
    .right .chat .right-messages .name {
      font-size: 14px;
      line-height: 22px;
      color: #1d1e2c;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      float: right; }
    .right .chat .right-messages .time {
      font-size: 14px;
      top: 16px;
      float: right;
      padding: 1px 0 5px 5px;
      color: #8b8da9; }
  .right .write {
    position: relative;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    height: 67px; }
    .right .write input {
      font-size: 16px;
      float: left;
      width: 80%;
      height: 66px;
      padding: 0 10px 0 20px;
      color: #8b8da9;
      border: 0;
      outline: none;
      background-color: #fff;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400; }
    .right .write .write-link {
      position: relative;
      right: 22px;
      margin-top: 20px;
      font-size: 20px;
      float: right; }
      .right .write .write-link li {
        display: inline-block;
        color: #fff;
        margin-right: 3px; }
        .right .write .write-link li a {
          color: grey; }
          .right .write .write-link li a .fa-paperclip {
            -moz-transform: rotate(45deg);
            /* ╨Ф╨╗╤П Firefox */
            -ms-transform: rotate(45deg);
            /* ╨Ф╨╗╤П IE */
            -webkit-transform: rotate(45deg);
            /* ╨Ф╨╗╤П Safari, Chrome, iOS */
            -o-transform: rotate(45deg);
            /* ╨Ф╨╗╤П Opera */
            transform: rotate(45deg); }
          .right .write .write-link li a .fa-paper-plane-o {
            color: #44337b; }
  .right .bubble {
    font-size: 14px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px; }
    .right .bubble.you {
      float: left;
      color: #fff;
      background-color: #44337b;
      align-self: flex-start; }
      .right .bubble.you.second {
        border-radius: 0 20px 20px 20px;
        -moz-border-radius: 0 20px 20px 20px;
        -khtml-border-radius: 0 20px 20px 20px; }
    .right .bubble.me {
      float: right;
      color: #000;
      background-color: #fff;
      align-self: flex-end; }
      .right .bubble.me.second {
        border-radius: 20px 0 20px 20px;
        -moz-border-radius: 20px 0 20px 20px;
        -khtml-border-radius: 20px 0 20px 20px; }

/*# sourceMappingURL=style.css.map */
